*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}
body{
  width: 100vw;
  height: 100vh;

}
.heading{
  border: 7px dashed rgb(1, 17, 160);;
  border-radius: 20px;
  font-weight: 900;
  font-size: 3rem;
  padding: 11px 35px;
  
  
}

.container{
  margin: 40px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}




